<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>eas_sales_export</name>
	<displayName><![CDATA[Easytis - Export des ventes]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Module permettant l\'export de ventes, sur une période définie, au format .csv ]]></description>
	<author><![CDATA[Klorel]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
